body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    min-height: 2000px;
}
header {
    background-color: #333;
    color: #fff;
    padding: 1rem;
    text-align: center;
    transition: background-color 0.3s ease;
}
header.scrolled {
    background-color: #55a;
}
main {
    padding: 1rem 2rem;
}
#posts-container {
    border: 1px solid #ccc;
    padding: 1rem;
    max-height: 300px;
    overflow-y: auto;
}
.post { border-bottom: 1px solid #eee; padding: 5px 0; }
.post:last-child { border: 0; }

/* Mod style */
.modal {
    display: none; /* hide */
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.4);
}
.modal-content {
    background-color: #fefefe;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    max-width: 500px;
}
.close-btn {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
}
